<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
    <center><h2>Edit Note</h2></center>
    </div>
    <div class="col-md-12">
    <center><br />
<%= form_for @note do |f| %>
    <p>
        <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: 'form-control'%>
        </div>
    </p>
 
    <p>
        <div class="form-group">
        <%= f.label :content %><br>
        <%= f.text_area :content, class: 'form-control', rows: '10' %>
        </div>
    </p>
    <p>
        <%= f.submit 'Save Note', :class => 'btn btn-warning' %>
        |
        <%= link_to "Back to Notes", notes_path, class: 'btn btn-primary'%>
    </p>
<% end %>
</div>