<ul id="timeline">
  <li class="listing clearfix">
    <div class="info">
    <span class="job_info">Ads by Google:</span><br />
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Test -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4618925731894792"
     data-ad-slot="8611415063"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
</ul>
<div class="row">
  <div class="col-md-12">
    <center><h2>New Note</h2></center>
    </div>
    <div class="col-md-6 col-md-offset-3">
    <center><br />
<%= form_for @note do |f| %>
    <p>
        <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: 'form-control' %>
        </div>
    </p>
 
    <p>
        <div class="form-group">
        <%= f.label :content %><br>
        <%= f.text_area :content, class: 'form-control', rows: "10" %>
        </div>
    </p>
 
    <p>
        <%= f.submit 'Create Note', class: 'btn btn-success' %>
        |
        <%= link_to "Back to Notes", notes_path, class: 'btn btn-primary' %>
    </p>
<% end %>